
## /!\ /!\ Update .dockerignore accordingly /!\ /!\

.DS_Store
__pycache__
*.pyc

/_build
/_opam
/_docker_build
/docs/_build
/docs/api/mineplex-client.html
/docs/api/mineplex-admin-client.html
/docs/api/mineplex-signer.html
/docs/api/mineplex-accuser-alpha.html
/docs/api/mineplex-baker-alpha.html
/docs/api/mineplex-endorser-alpha.html

/mineplex-node
/mineplex-validator
/mineplex-protocol-compiler
/mineplex-client
/mineplex-admin-client
/mineplex-baker-*
/mineplex-endorser-*
/mineplex-accuser-*
/mineplex-signer
/mineplex-sandbox
/mineplex-codec

/src/proto_*/parameters/*-parameters.json

/scripts/opam-test-all.sh.DONE
/scripts/create_genesis/src

/docs/introduction/readme.rst
/docs/api/errors.rst
/docs/api/rpc.rst
/docs/api/p2p.rst

/src/bin_client/test/LOG.*
/src/bin_client/tezos-init-mainnet-client-*
/_coverage_output/*.coverage
/_coverage_report

*.install
.merlin

*~
\#*\#
.\#*
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

*.rej
*.orig

.idea

node_data
client_data